<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/css/dashboardAdmin.css">
</head>
<body>
    <section>
        <!-- Menú lateral -->
        <div class="nav">
            <ul>
                <li>
                    <a href="{{ url_for('home') }}">
                        <span class="icono"><ion-icon name="logo-playstation"></ion-icon></span>
                        <span class="titulo">Logo</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('home') }}">
                        <span class="icono"><ion-icon name="home"></ion-icon></span>
                        <span class="titulo">Inicio</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('pedidoAd') }}">
                        <span class="icono"><ion-icon name="create"></ion-icon></span>
                        <span class="titulo">Pedidos</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('categoriaAd') }}">
                        <span class="icono"><ion-icon name="list"></ion-icon></span>
                        <span class="titulo">Categoría</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('productoAd') }}">
                        <span class="icono"><ion-icon name="fast-food"></ion-icon></span>
                        <span class="titulo">Productos</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('usuarioAd') }}">
                        <span class="icono"><ion-icon name="people"></ion-icon></span>
                        <span class="titulo">Usuarios</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="container">
            <!-- Barra superior -->
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu"></ion-icon>
                </div>
                <div class="buscar">
                    <label for="">
                        <input type="text" placeholder="Buscar">
                        <ion-icon name="search"></ion-icon>
                    </label>
                </div>
                <div class="perfil-usuario">
                    <img src="/static/img/dashboardAdmin.jfif" alt="">
                    <div class="menu-perfil">
                        <ul>
                            <li>
                                <a href="#">
                                    <span class="icono-menu-user"><ion-icon name="person-circle"></ion-icon></span>
                                    <span class="titulo">Cuenta</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="icono-menu-user"><ion-icon name="cog"></ion-icon></span>
                                    <span class="titulo">Configuraciones</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="icono-menu-user"><ion-icon name="log-out"></ion-icon></span>
                                    <span class="titulo">Cerrar sesión</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <main>
                <!-- Contenido dinámico -->
                <div class="container_tablas">
                    <div class="table_Header">
                            <h2>Categorias</h2>
                            <button class="boton_raro" onclick="location.href='/dashboardAdmin/crearCategoria'">Crear Nuevo</button>
                            <select class="select_tabla" name="select_tabla" id="">
                                <option value="" selected>Estado</option>
                                <option value="">Activa</option>
                                <option value="">Inactiva</option>
                            </select>
                            <div class="input_search">
                                <input type="search" placeholder="Buscar">
                                <ion-icon id="search-sharp" name="search-sharp"></ion-icon>
                            </div>
                        </div> 
                        <table>
                            <thead>
                                <tr>
                                    <th>Nombre de la categoria<ion-icon name="chevron-expand-outline"></ion-icon></th>
                                    <th>Estado<ion-icon name="chevron-expand-outline"></ion-icon></th>
                                    <th>Operaciones<ion-icon name="chevron-expand-outline"></ion-icon></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Categoria 1</td>
                                    <td>Inactiva</td>
                                    <td>
                                        <a href="#"><ion-icon id="iconosoperacion" name="pencil"></ion-icon></a>
                                        <a href="#"><ion-icon id="iconosoperacion" name="trash"></ion-icon></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Categoria 2</td>
                                    <td>Activa</td>
                                    <td>
                                        <a href="#"><ion-icon id="iconosoperacion" name="pencil"></ion-icon></a>
                                        <a href="#"><ion-icon id="iconosoperacion" name="trash"></ion-icon></a>
                                    </td>
                                </tr>
                            </tbody>
                    </table>
                    </div>
                    
                <!-- Insertar contenido aquí -->
            </main>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="/static/js/dashboardAdmin.js"></script>
</body>
</html>
